body {
	background-color: lightgreen;
}

nav {
	display: flex;
	height: 60px;
	background-color: beige;
	align-items: center;
	position: relative;
}

nav > a {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	text-decoration: none;
	color: purple;
}

nav > img {
	width: 30px;
	height: 30px;
	padding: 10px;
}

h1 {
	margin-bottom: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 30px;
	width: 80%;
	margin: auto;
}

img {
	width: 100%;
	height: auto;
}

.photos {
	font-family: 'Girassol', cursive;
	text-align: center;
	font-size: 9vh;
	letter-spacing: 5px;
	color: purple;
}